@page "/from"

<div class="grid grid-rows-2 grid-cols-2">
    <div class="bg-yellow-300"></div>
    <div class="bg-yellow-500">
        <form>
            <div>
                <label class="underline text-green-900">Nobres</label>
                <input type="text" class="bg-yellow-200 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Nombres" />
            </div>
            <div>
                <label class="underline text-green-900">Apellido</label>
                <input type="text" class="bg-yellow-200 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Apellidos" />
            </div>
            <div>
                <label class="underline text-green-900">Contaseña</label>
                <input type="password" class="bg-yellow-200 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password" />
            </div>
            <div>
                <label class="underline text-green-900">Confirma</label>
                <input type="password" class="bg-yellow-200 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password" />
            </div>
            <br />
            <div>
                <button class="bg-red-900 font-mono text-white">Reguistrar</button>
            </div>
        </form>
    </div>
    <div class="bg-yellow-900"></div>

    <div class="bg-blue-400"></div>
</div>

@code {

}
