<div>
    <label>
        Forma De Cobro
    </label>
    <select class="group relative w-100  px-3 py-2 justify-self-start  border border-transparent text-sm
                        font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
                        focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-30"
                 bind="@FormaDeCobro">
        
        @foreach (var i in cobro)
        {
            <option class="px-3" value="@i">@i</option>
        }

    </select>
    
</div>
@code{
    [Parameter]
    public string FormaDeCobro { get; set; }
    List<string> cobro = new List<string>
    {
        "Efectivo",
        "Cheque Nominativo",
        "Transferencia Electrónica de Fondos SPEI",
        "Tarjeta de Crédito",
        "Monedero Electrónico",
        "inero Electrónico",
        "Vales de Despensa",
        "Dación en Pago",
        "Pago por Subrogación",
        "Pago por Consignación",
        "Condonación",
        "Compensación",
        "Novación",
        "Confusión",
        "Remisión de Deuda",
        "Prescripción o Caducidad",
        "A Satisfacción del Acreedor",
        "Tarjeta de Débito",
        "Tarjeta de Servicios",
        "Aplicación de Anticipos",
        "Intermediario Pagos",
        "Por Definir"
    };
}